Source: greenplum-db-cb
Maintainer: Greenplum Release Engineering <release@greenplum.org>
Section: database
Build-Depends: debhelper (>= 9),
    bison,
    ca-certificates-java,
    ca-certificates,
    cmake,
    curl,
    cgroup-tools,
    flex,
    gcc-11,
    g++-11,
    g++-11-multilib,
    git,
    krb5-multidev,
    libapr1-dev,
    libbz2-dev,
    libcurl4-gnutls-dev,
    libevent-dev,
    libkrb5-dev,
    libldap2-dev,
    libperl-dev,
    libreadline-dev,
    libssl-dev,
    libxml2-dev,
    libyaml-dev,
    libzstd-dev,
    libaprutil1-dev,
    libpam0g-dev,
    libpam0g,
    libcgroup1,
    libyaml-0-2,
    libldap-2.5-0,
    libssl3,
    ninja-build,
    python-setuptools,
    python2.7,
    python2.7-dev,
    unzip,
    wget,
    zlib1g-dev,
    libuv1-dev,
    libxerces-c-dev,
    libsystemd-dev,
    pkg-config

Package: greenplum-db-cb
Architecture: amd64
Depends: curl,
    cgroup-tools,
    iputils-ping,
    krb5-multidev,
    less,
    libapr1,
    libbz2-1.0,
    libcurl4,
    libcurl3-gnutls,
    libevent-2.1-7,
    libreadline8,
    libxml2,
    libyaml-0-2,
    libldap-2.5-0,
    libzstd1,
    libcgroup1,
    libssl3,
    libpam0g,
    locales,
    net-tools,
    openssh-client,
    openssh-server,
    openssl,
    python2.7,
    python2.7-dev,
    python-lockfile,
    python-paramiko,
    python-psutil,
    python-yaml,
    python-pip,
    python-behave,
    python-epydoc,
    python-ldap (>= 3.0.0-8-7-ce77c42-yndx),
    python-mock (>= 2.0.0-10-7-b1465b9-yndx),
    python-six (>= 1.11.0-8-6-bf63b53-yndx),
    python-parse,
    python-is-python2,
    rsync,
    wget,
    zlib1g,
    libuv1,
    libmdblocales1 (>= 25~),
    mdb-locales (>= 25~),
    libxerces-c3.2
Description: Cloudberry Database
  Cloudberry Database (CBDB or CloudberryDB for short) is created by a bunch 
  of original Greenplum Database developers and ASF committers. 
  We aim to bring modern computing capabilities to the traditional distributed
  MPP database to support Analytics and AI/ML workloads in one platform.

