#!/usr/bin/make -f

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DH_VERBOSE = 1
DPKG_EXPORT_BUILDFLAGS = 1
GPDB_PKG_VERSION := $(GPDB_PKG_VERSION)
PACKAGE_GPDB := $(shell cat debian/control | egrep "^Package: " | cut -d " " -f 2)

include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel

override_dh_auto_configure: 
	./configure \
          --with-python \
          --with-libxml \
          --with-gssapi \
          --prefix=/opt/greenplum-db-cb \
          --with-ldap \
          --with-pam \
          --with-openssl \
          --enable-ic-proxy \
          --enable-debug \
          --with-system-tzdata=/usr/share/zoneinfo \
          --enable-orafce \
          --enable-gpcloud \
          --with-zstd \
          --with-systemd \
          --with-pythonsrc-ext \
          --disable-pxf

override_dh_auto_build-arch: 
	$(MAKE) -j8

override_dh_shlibdeps:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_gencontrol:
	dh_gencontrol -- -v${GPDB_PKG_VERSION} -p${PACKAGE_GPDB}
